@mixin debug-bg($status){
	
	@if $status{
		&:after{
			content: "";
			display: none;
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
			height: 100%;
			background-color: rgba(random(255),random(255),random(255),0.4);
		}
	}
	
}

@mixin prefix($property, $v){
	
	-khtml-#{$property}: $v;
	-webkit-#{$property}: $v;
	-moz-#{$property}: $v;
	-ms-#{$property}: $v;
	-o-#{$property}: $v;
	#{$property}: $v;
	
}

@mixin border-radius($amount: 5px){
	@include prefix( border-radius, $amount );
}

@mixin shd($v){
	@include prefix( box-shadow, #{$v} );
}

@mixin tshadow($v1: 2,$v2: 2, $v3: 2, $v4: 1){
	text-shadow: #{$v1}px #{$v2}px #{$v3}px rgba(0, 0, 0, $v4);
}

@mixin tshadow2($v1:3px, $v2:2px, $v3:2px, $v4:6px){
	text-shadow: $v1 0 0 #fff, -$v1 0 0 #fff, 0 $v1 0 #fff, 0 -$v1 0 #fff, $v2 $v2 #fff, -$v2 -$v2 0 #fff, $v2 -$v2 0 #fff, -$v2 $v2 0 #fff, 0 $v3 $v4 #000;
}

@mixin tshadow-n(){
  text-shadow:none;
}

@mixin tglow($v1: 2 ,$v2: #ffffff){
	text-shadow: 0px 0px #{$v1}px $v2;
}

@mixin border($v: 1px,$c: #000000){
	@include prefix( box-shadow, inset $c 0px 0px 0px $v );
}

@mixin rotate($r:90){
 @include prefix( transform, rotate(#{$r}deg) );
  -webkit-backface-visibility:hidden;
}

@mixin transition($t){
	@if $t{
		@include prefix( transition, $t );
	}@else{
		@include prefix( transition, none !important );
	}
}

@mixin transition-delay($d){
	@include prefix( transition-delay,  #{$d}s );
}

@mixin interpolation(){
  
	image-rendering:optimizeSpeed;
	image-rendering:-moz-crisp-edges;
	image-rendering:-o-crisp-edges;
	image-rendering:-webkit-optimize-contrast;
	image-rendering:optimize-contrast;
	image-rendering:crisp-edges;
	image-rendering:pixelated;
	-ms-interpolation-mode:nearest-neighbor;
}

@mixin bg-gradient($colors){ 
	
	$this-colora: nth($colors, 1);
	$this-color: nth($this-colora, 1);
	
	background: $this-color;
	
	$g1:top;
	$g2:to+" "+bottom;
	$g3:linear+", "+left+", "+top+", "+left+", "+bottom;
	
	@for $i from 1 through length($colors) {
		$this-colora: nth($colors, $i);
		$this-color: nth($this-colora, 1);
		$this-p: nth($this-colora, 2);
		$g1:$g1+", "+($this-color $this-p);
		$g2:$g2+", "+($this-color $this-p);
		$g3:$g3+", "+(color-stop($this-p, $this-color));
	}
	
	background: -moz-linear-gradient($g1);
	background: -webkit-gradient($g3);
	background: -webkit-linear-gradient($g1);
	background: -o-linear-gradient($g1);
	background: -ms-linear-gradient($g1);
	background: linear-gradient($g2);
	
	$this-colora-s: nth($colors, 1);
	$this-color-s: nth($this-colora-s, 1);
	$this-colora-f: nth($colors, length($colors));
	$this-color-f: nth($this-colora-f, 1);

	filter:  progid+":"+DXImageTransform+"."+Microsoft+"."+gradient+"("+startColorstr+"='"+$this-color-s+"', "+endColorstr+"='"+$this-color-f+"',"+GradientType+"="+0+")";
	
}

@mixin noselect(){
	-webkit-touch-callout: none;
    @include prefix( user-select, none );
}

@mixin skew($sx,$sy){
     @include prefix( transform, skew($sx+deg,$sy+deg) );
}

@mixin ellipse($ex,$ey){
	$tm:#{$ex} / #{$ey};
	@include prefix( border-radius, $tm );
}

@mixin centerImg(){
	position:absolute;
	left: 50%;
	top: 50%;
	@include prefix( transform, translate(-50%, -50%) );
}

@function pr($el,$id,$pr){
  @return map-get(nth($el, $id), $pr); 
}

$mixins: ( border-radius, border-radius-a, shadow );

@mixin setProperty ( $pr, $val ){
	@if $val{
		@if $pr == background-image {
			#{$pr} : inline-image($val);
		} @else if $pr == "border-radius" {
			@include border-radius($val);
		} @else if $pr == "ellipse" {
			@include ellipse($val);
		} @else if $pr == "skew" {
			@include skew($val);
		} @else if $pr == "border" {
			@include border($val);
		} @else if $pr == "shd" {
			@include shd($val);
		} @else if $pr == "transition" {
			@include transition($val);
		} @else {
			#{$pr} : $val; 
		}
	}
}

@mixin serial( $i, $map, $el, $properties ){
	@if ($i < length($map) + 1){
		#{$el}{
			@for $k from 1 through length($properties){
				@if type-of(nth( $properties, $k)) == list {
					@include setProperty ( nth( nth( $properties, $k ), 1 ), pr( $map, $i ,nth( nth( $properties, $k ), 2 ) ));
				}@else{
					@include setProperty ( nth( $properties, $k ), pr( $map, $i , nth( $properties, $k) ));
				}
			}
		}  
	}
}

@mixin preset( $i, $map, $properties ){
	@if ($i < length($map) + 1){
		@for $k from 1 through length($properties){
			@if type-of(nth( $properties, $k)) == list {
				@include setProperty ( nth( nth( $properties, $k ), 1 ), pr( $map, $i ,nth( nth( $properties, $k ), 2 ) ));
			}@else{
				@include setProperty ( nth( $properties, $k ), pr( $map, $i , nth( $properties, $k) ));
			}
		}
	}
}

@mixin border-box(){
	@include prefix( box-sizing, border-box );
}