article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block;}
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }
div, section, p, a, menu, nav, span, img, form, input, aside, li, ul{margin:0px;padding:0px;outline:none;border:none;text-decoration:none;}
img{image-rendering:optimizeQuality;-ms-interpolation-mode:bicubic;}
html, body{margin:0px; padding:0px; font-size:0px; line-height:0px;} 

@import 'utils_v2.0.1'; 

/* -------------------------------------------------------------- */

body{
	position:relative;
	background-color:#333333;
	width:100%;
	height:100%; 
	text-rendering: geometricPrecision;
}

.globe{
	display:block;
	position:absolute;
	overflow:hidden;
	left:100px;
	top:100px;
	width:500px;
	height:500px;
	
	div{
		display:block;
		position:absolute;
		width:500px;
		height:500px;
		left:0px;
		top:0px;
	}

	div.bg{
		background-image: inline-image("globe1.svg");
		background-size: 100% 100%;
		opacity:.2;
		width:400px;
		height:400px;
		top:50px;
		left:50px;
	}

	canvas{
		display:block;
		position:absolute;
		overflow:hidden;
		left:0px;
		top:0px;
		width:100%;
		height:100%;
		background-color:rgba(255, 255, 255, 0);
	}

	&.noscale{
		canvas{
			width:auto;
			height:auto;
		}
	}
}



.notransition{ 
	@include transition(false);
}

.hidden{
	display:none;
} 